/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-11-03, 21:25:41
    Author     : Tomasz Jacek
*/
body {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}
.container {
	margin: 0 auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 35%;
	text-align: center;
}
.container h1 {
	color: #872e87;
	font-size: 29px;
	font-weight: 900;
	margin: 50px 0 55px;
}
.container p {
	font-size: 20px;
	margin-bottom: 15px;
}

